<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Registration</title>
  </head>
  <body>
    <div>
      <h2>Welcome {{username}}</h2>
      <a href={{link}}>Verify your account!!</a>
    </div>
  </body>
</html>